{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Amity | Create</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'img/Amity_University_logo.png' %}" rel="icon">

    <link rel="stylesheet" href="{% static 'css/loginform.css' %}">


</head>

<body>
    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large" style="color: #2124B1;">{{count}} Users Created</h1>
                </div>
                <p>
                    Please proceed to admin page to view users
                </p>
                <div class="input-control">
                    <a href="home" class="text text-links">Home</a>
                </div>
            </section>
        </div>
    </main>


</body>

</html>